body {
    background: #4169e1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 120px;
    margin-bottom: 120px;
}

#logo {
    background: #000401;
    border-radius: 100px;
    margin: auto;
    display: auto;
    text-align: center;
    color: #daa520;
    padding: 12px;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 1em;
}

.space {
    text-align: center;
    font-size: 25px;
}

.special{
    text-align: center;
    font-size: 25px;

}

#dweller {
    margin-left: auto;
    margin-right: auto;
    display: auto;
    width: 350px;
    background: #04bc0a;
    padding: 30px;
}

table {
    width: 105%;
}

th,
td {
    padding: .2em .7em;
}

thead,
tfoot {
    font-weight: bold;
}

tfoot {
    margin-top: 4em;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

p{
    color: #daa520;
}